/* Main CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "lato", sans-serif;
  /* font-size: 10px; */
  line-height: 1.7;
  color: rgb(31, 31, 31);
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  body {
    padding: 0px;
  }
}
