.u-center-text{
    text-align: center;
}
.bottom-margin-less{
    margin-bottom: 2rem;
}
.bottom-margin-more{
    margin-bottom: 6rem;
}
.padding-top-bottom {
    padding: 4rem 0;
}
.top-margin-less{
    margin-top: 2rem;
}
