.hover-img-sec{
    background-color: $color-bg-litegrey ;
    margin-top: -20vh;
    margin-bottom: 2rem;
    padding: 9rem 0 10rem 1.7rem;

    
    .hover-img-sec-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 1.3rem 1.3rem 8rem 1.3rem;
        margin-top: 2rem;
        .div-p {
            width: auto;
            padding:0 2rem;
            .h2-img-sec{
                letter-spacing: 2px;
                margin-bottom: 3rem;
            }
        }
        .div-img{
            position: relative;
            margin-top: 1.3rem;

            .hover-img{
                width: 50%;
                position: absolute;
                transition: all 0.3s;
                &-1{
                    left: 2rem;
                    top: -1.3rem;
                }

                &-2{
                    right: 2rem;
                    top: 1.3rem;
                }
                &-3{
                    left: 20%;
                    top: 5rem;
                }
                &:hover{
                    transform: scale(1.04) translateY(-0.5rem);
                    box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.67);
                    z-index:20;
                    outline: 0.5rem solid $lite-purple ;
                    outline-offset: 1rem;
                }
                }
            }
            
        }
        }

// features section

.features-sec{

    // height: auto;
    width: auto;
    padding: 13rem 0 35rem 0;
    margin-top: -22.5rem;
    background-image: linear-gradient(to right bottom,rgba($dark-purple,0.8),rgba($lite-purple,0.8)), url(../img/css.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    clip-path: polygon(0 10%, 100% 5%, 100% 70%,0 75%);
    .features-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    
    .features-columns{
        display: flex;
        flex-flow: column;
        width: 17em;
        height: 21em;
        background-color:$white;
        margin: 2rem 1rem 3rem 1rem;
        transition: all 0.2s;
        .features-container-icon{
            font-size: 4rem;
            margin: 1.2rem 0 0.7rem 0;
            text-align: center;
            color: $lite-purple;
        }
        &:hover{
            transform: scale(1.1) translateY(-0.5rem);
        }
    }
}
}

//end....................

//pricing section
.pricing-sec{
    background-color: $color-bg-litegrey;
    padding: 12rem 0;
    margin-top: -20rem;
    .h2-home-container{
        margin-bottom: 4rem;
    }


.pricing-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 

    .pricing-column{
        width: 22em;
        height: 30em;
        margin: 2.5rem 0 2.5rem 0;
        &:hover {
            transform: translateY(-2rem);
            box-shadow: 0px 0px 16px 13px rgba(0,0,0,0.12);
            }
        &-1 {
            background-color: $white;
            transition: all 0.8s;
            .h2-home{
                font-size: 1.4rem;
                margin-top: 2.5rem;
            }
            &-image{
                background-image: linear-gradient(to right bottom,rgba($dark-purple,1),rgba($lite-purple,1)), url(../../img/influencer.jpg);
                height: 40%;
                width: auto;
                background-size: cover;
                background-blend-mode: screen;
                clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%) ;
            }
            &-detail{
                ul{
                    list-style: none;
                    width: 100%;
                    li{
                        text-align: center;
                        font-size: 1rem;
                        line-height: 2.5rem;
                    }
                }
            }
            
        }
            
        &-2{
            background-color: $white;
            transition: all 0.8s;
            .h2-home{
                font-size: 1.4rem;
                margin-top: 2.5rem;
            }
            &-image{
                background-image: linear-gradient(to right bottom,rgba($dark-purple,1),rgba($lite-purple,1)), url(../../img/influencer.jpg);
                height: 40%;
                width: auto;
                background-size: cover;
                background-blend-mode: screen;
                clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%) ;
            }
            &-detail{
                ul{
                    list-style: none;
                    width: 100%;
                    li{
                        text-align: center;
                        font-size: 1rem;
                        line-height: 2.5rem;
                    }
                }
            }
            
        }
        
        &-3{
            background-color: $white;
            transition: all 0.8s;
            .h2-home{
                font-size: 1.4rem;
                margin-top: 2.5rem;
            }
            &-image{
                background-image: linear-gradient(to right bottom,rgba($dark-purple,1),rgba($lite-purple,1)), url(../../img/influencer.jpg);
                height: 40%;
                width: auto;
                background-size: cover;
                background-blend-mode: screen;
                clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%) ;
            }
            &-detail{
                ul{
                    list-style: none;
                    width: 100%;
                    li{
                        text-align: center;
                        font-size: 1rem;
                        line-height: 2.5rem;
                    }
                }
            }
            
        }
   
    }
}
.button-pricing-div{
    margin: 4rem 0;
}
}

//testimonial container
.sec-testimonial{
    margin-top: -9rem;
    padding: 13rem 0 27rem 0;
    background-image: linear-gradient(to right bottom,rgba($dark-purple,1),rgba($lite-purple,1)), url(../../img/influencer.jpg);
    clip-path: polygon(0 10%, 100% 5%, 100% 70%,0 75%);
    &-container{
        transition: all 0.3s;
    }
    &-container:hover{
        transform: translateY(-0.5rem);
    }
    &-1{
        border-radius: 10px;
        margin: 0 auto;
        width: 70%;
        background-color: $white;
        padding: 2rem 3rem 5rem 3rem;
        margin-bottom: 2rem;
        &-img{
           
            float: left;
            img{
                border-top-left-radius: 50% 50%;
                border-top-right-radius: 50% 50%;
                border-bottom-right-radius: 50% 50%;
                border-bottom-left-radius: 50% 50%;
                width: 11rem;
                height: 11rem;
                margin-right: 2rem;
                margin-top: 1rem;
            }
            &-h4{
                text-align: center;
                margin-left: -1.5rem;
            }
            
        }

    }
    &-2{
        margin: 0 auto;
        border-radius: 10px;
        width: 70%;
        background-color: $white;
        padding: 2rem 3rem 5rem 3rem;
        &-img{
           
            float: left;
            img{
                border-top-left-radius: 50% 50%;
                border-top-right-radius: 50% 50%;
                border-bottom-right-radius: 50% 50%;
                border-bottom-left-radius: 50% 50%;
                width: 11rem;
                height: 11rem;
                margin-right: 2rem;
                margin-top: 1rem;
            }
            &-h4{
                text-align: center;
                margin-left: -1.5rem;
            }
        }
    }
}
.footer{
     margin-top: -17rem;
     margin-bottom: 2rem;
    .footer-div{
        text-align: center;
        width: auto;
        .logo{
            width: 10rem;
            height:10rem;
            margin-bottom:2rem;
        }
        .nav-links{
            padding:20px;
            text-decoration: none;
            color:$dark-purple;
            font-size: 1.4rem;
          }
          .nav-links:hover{
            color:rgba($lite-purple,1);
            cursor: pointer;
          }
    }

}
