.navigation{

    &-checkbox{
        display: none;
        
    }
    &-button{
        background-color: $white;
        height: 5rem;
        width: 5rem;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        top: 3rem;
        right: 3rem;        
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($black, 0.2);
        cursor: pointer;
    }
    &-background{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-image: radial-gradient($lite-purple, $dark-purple);
        z-index: 1000;
        transition: all 0.4s;
        }
    .nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        transition: all 0.4s;

        opacity: 0;
        width: 0;
        &-list{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            list-style: none;
 
            text-align: center;
        }
        &-items{
            margin: 1rem;
            
        }
        &-links{
            &:link,
            &:visited{
            font-size: 2rem;
            font-weight: 300;
            text-decoration: none;
            padding: 1rem 2.5rem 1rem 2.5rem;
            color: $white;
            text-transform: uppercase;
            transition: all 0.3s;
           
            
            }
            &:hover,
            &:active{
              
                color: $dark-purple;
                background-color: $white;
                border-radius: 5%;
                transform: scale(15) ;
            }
        }
    }
    &-checkbox:checked ~ &-background{
        transform: scale(80);
    }
    &-checkbox:checked ~ .nav{
        opacity: 1;
        width: 100%;
    }
    &-icon{
        position: relative;
        margin-top: 28px;
        
        &,
        &::before,
        &::after{
            width: 2rem;
            height: 2px;
            background-color: $dark-grey;
            display: inline-block;
            transition: all 0.1s;
        }
        &::before,
        &::after{
            content: "";
        position: absolute;
        left: 0;
        }
        &::before{top:.6rem}
        &::after{top: 1.2rem;}
    }
    &-button:hover &-icon{
        top: .4rem;
    }
    &-button:hover &-icon::before{
        top: .5rem;
    }
    &-button:hover &-icon::after{
        top: 1rem;
    }
    &-checkbox:checked + &-button &-icon{
        margin-top: 2.3rem;
        background-color: transparent;
    }
    &-checkbox:checked + &-button &-icon::before{
        top: 0;
        transform: rotate(45deg);
    }
    &-checkbox:checked + &-button &-icon::after{
        top: 0;
        transform: rotate(-45deg);
    }
    }